*{
    margin:0;
    box-sizing: border-box;
}

body{
    background: url("../img/wallpaperCabreuva.webp") no-repeat center center fixed;
    background-size: cover;  
}

.container{
    width: 100%;  
}

.header {
    width: 100%;
    background-color: teal;
    padding: 10px;
    position:relative;
    top: 0;
}

.title {
    font-family: 'Permanent Marker', cursive; 
    font-size: 35px;
    text-align: center;
    color: black;
}

.main { 
    width: 100%; 
}

.textmain{
    font-family: 'Dancing Script', cursive;
    width: 80%;
    color:white;
    font-size: 30px;
    text-align: justify;
    top: 0%;
    left: 50%;
    transform: translate(-50%, +50%);
    position: relative;
    z-index: 1;
}

.destaque{
    color:rgb(1, 245, 1);
}

.video{
    width: 500px;
    height: 200px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, +50%);
    position: relative
}

.titlevideo{
    width: 100%;
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 20px;
    text-align: center;
    top:220px;
    position: relative;
    z-index: 1;
}

.list{
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 20px;
    width: 80%;
    text-align: justify;
    top: 225px; 
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
    z-index: 1;
}

.footer{
    position:relative;
    top: 250px;
    width: 100%;
    background-color:black; 
    padding: 10px;
}

.textfooter { 
    font-weight: 300; 
    text-align: center;
    overflow: hidden; 
    color: grey;
}

.textfooter a {
    font-weight: 400; 
    color: white; 
}
