*{
    margin:0;
    box-sizing: border-box;
}

body{
    background: url("../img/wallpaperCabreuva.webp") no-repeat center center fixed;
    background-size: cover;  
}

.container{
    width: 100%;  
}

.header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.952);
    padding: 10px;
    position:relative;
    top: 0;
}

.title {
    font-family: 'Permanent Marker', cursive; 
    font-size: 35px;
    text-align: center;
    color:rgb(87, 238, 87);
}

.main { 
    width: 100%; 
}
.textmain{
    font-family: 'Dancing Script', cursive;
    width: 80%;
    color:white;
    margin:0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    text-shadow: black 0.1em 0.1em 0.1em;
    text-align: justify;
    position: relative;
}

.destaque{
    color:rgb(1, 245, 1);
}

.video{
    width: 1080px;
    height: 600px;
    text-align: center;
    margin: 0 auto;
    position: relative
}

h2{
    width: 100%;
    font-family: 'Dancing Script', cursive;
    text-shadow: black 0.1em 0.1em 0.1em;
    margin-top: 30px;
    color: white;
    font-size: 40px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.list{
    font-family: 'Dancing Script', cursive;
    background-color:rgba(8, 8, 8, 0.603);
    padding: 10px;
    color: white;
    font-size: 25px;
    list-style:none;
    text-shadow: black 0.1em 0.1em 0.1em;
    width: 80%;
    text-align: justify;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
    z-index: 1;
}

.icons{
    width: 80%;
    text-align: center;
    margin: 30px 0;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
    z-index: 1;
}

.icon{
    width: 40px;
    height: 40px;
    margin:0 20px;
    text-align: center;
    position: relative;
}

.footer{
    position:relative;
    width: 100%;
    background-color:black; 
    padding: 10px;
}

.textfooter { 
    font-weight: 300; 
    text-align: center;
    overflow: hidden; 
    color: grey;
}

.textfooter a {
    font-weight: 400; 
    color: white; 
}
